body {    
  margin: 0 !important;
  padding: 0 !important;
}

table {
  height:64px;
  width: 100%;
  max-width: 320px;
}
td {
  text-align:center;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

select {
  width: 300px;
  height: 300px;
  z-index: 100;
  position: static;
}

.but {
  width:40px;
  height:40px;
}
