body {    
  margin: 0 !important;
  padding: 0 !important;
}

table {
  font-size: 11px;
  height:64px;
  width: 100%;
  max-width: 320px;
}
.navbar {
  color: black;
  font-family: monospace;
  border-color: #ff276c;
  background:#ff276c;
}
td {
  font-size: 9px;
  text-align:center;
}
div {
  margin: 0 auto;
}
#canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#select {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: static;
}

#preview {
  width: 200px;
  height: 200px;
  z-index: 200;
  position: fixed;
  top: 100px;
  left: 100px;
  border-style: solid;
  border-color: #00ffff;
  border-width: 8px;
}

.but {
  width:40px;
  height:40px;
}

#navtable {
  background-color: #ffffff;
}

#subnav {
  background-color: #b7f4f4;
}

.subsubnav {
  background-color: #00ffff;
}

.navtable_sel {
  background-color: #b7f4f4;  
}

.subnav_sel {
  background-color: #00ffff;
}

.subsubnav_sel {
  background-color: #008888;
}

.special_sel {
  background-color: #ffef32;
}

div.upload {
  background: url(emoji/1f4f7.png) no-repeat;
  background-size: 40px 40px;
  background-position:center;
  overflow:hidden;
}

div.upload input {
  display: block !important;
  width: 40px !important;
  height: 40px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}
