body {    
  margin: 0 !important;
  padding: 0 !important;
}

table {
  height:64px;
  width: 100%;
  max-width: 320px;
}
.navbar-inverse {
  color: white;
  font-family: monospace;
}
td {
  text-align:center;
}
div {
  margin: 0 auto;
}
#canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#select {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: static;
}

.but {
  width:40px;
  height:40px;
}

#navtable {
  background-color: #181818;
}

#subnav {
  background-color: #353535;
}

.subsubnav {
  background-color: #4e4e4e;
}

.navtable_sel {
  background-color: #353535;  
}

.subnav_sel {
  background-color: #4e4e4e;
}

.subsubnav_sel {
  background-color: #656565;
}

.special_sel {
  background-color: #caca45;
}
